* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.outer-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-container {
  height: fit-content;
  margin: auto;
  width: fit-content;
  text-align: center;
  border: 2px solid rgb(117, 107, 107);
  padding: 30px;
  background-color: #f3f3f3;
}

.text-input-container {
  display: flex;
  gap: 16px;
  padding-top: 60px;
}

.input-box {
  border: 2px solid white;
  /* outline: none; */
  font-size: 35px;
  border: "1px solid transparent";
  border-radius: 8px;
  width: 54px;
  height: 54px;
  font-size: 24px;
  color: "#000";
  font-weight: "400";
  caret-color: "blue";
}

input {
  /* direction: rtl; */
  text-align: center;
  outline: none;
}

input:focus {
  border: 2px solid rgb(226, 226, 243);
}
.dash-box {
  height: 50px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
}

.clear-btn {
  margin: 16px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 42px;
  width: 100px;
  padding: 6px;
}
